@font-face {
    font-family: 'Lato-Bold';
    src: 
      url(./Lato-Bold.ttf) format('truetype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Lato-Regular';
    src: 
      url(./Lato-Regular.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
}